.carousel-box{
    /* margin-top: 10%; */
    border-top: 10px double #f9a825;
    background: #000b0c;
    padding-bottom: 10px;
   
    
   
/* justify-content: center; */

/* display:flex; */
}
.gameDiv {
    background: #000b0c;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.popularGames{
    text-align: center;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #f4efef;
    text-shadow: -1px 2px #ef3550,
    -2px 4px #f48fb1;
    /* -12px 12px #7e57c2; */
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    /* flex-wrap: wrap; */
  }
.welcomeLPage{
    display:flex;
    flex-direction:row;
    background-color: #ffd166;
    /* justify-content: center; */
    align-content: center;
    /* min-width:28vw;  */
    max-width: 90vw;
    border-radius: 30px;
    min-height:15vh;
    margin:1vh;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.welcomeLPageh1{
    font-family: 'Tilt Warp', cursive;
    
      color:#240404;
      padding-top:2%;
      padding-bottom:2%
  }

.logoutStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin:auto;
    margin-top: 10%;
    border-width: 15px;
    border-style: double;
    border-color: #26c6da;
    outline-width: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-bottom: 5%;
}
#loggedout-text{
    font-family: 'Tilt Warp', cursive;
    color:#240404;
}